{% extends "base.html" %} 

{% block title %} Lista de Trabajadores {% endblock %}

{% block content %}

<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4 class="card-title">Trabajadores</h4>

    <div>
      <a
        name=""
        id=""
        class="btn btn-primary"
        href="{% url 'workerCreate' %}"
        role="button"
        >Crear Trabajador
      </a>
    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>RUT</th>
          <th>Nombre</th>
          <th>Sexo</th>
          <th>Cargo</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        {% for employee in employees %}

        <tr>
          <td scope="row">{{employee.employee_rut}}</td>
          <td>{{employee.employee_firstname}} {{employee.employee_lastname}}</td>
          <td>{{employee.employee_gender}}</td>
          <td>{{employee.position_id}}</td>
          <td>
            <a
              name=""
              id=""
              class="btn btn-info"
              href="{% url 'workerUpdate' %}"
              role="button"
            >
              Editar
            </a>
            |
            <a name="" id="" class="btn btn-danger" href="{% url 'workerDelete' employee.employee_rut %}" role="button">
              Borrar
            </a>
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>

  <div class="card-footer text-muted">Footer</div>
</div>

{% endblock %}
