body {
  background-color: rgb(210, 210, 241);
}

ul, li {
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}


/* NAV */

.nav {
  gap: 1rem;
}

.logo {
  width: 90px;  
  
}


/* LOGIN */

.login__wrap {
  min-height: 100vh;
}